*.iml
.gradle
build
captures
.externalNativeBuild
.idea
projectFilesBackup
out
config/app.properties

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class

# Log file
*.log